body {
  color: #000;
  max-width: 1366px;
  margin: auto;
}

section.banner-main-area {
  width: 100%;
  background-image: url(assets/images/bg.png);
  max-height: 615px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.banner-main-area > img {
  width: 100%;
}
section.about-main-area-wrap {
  text-align: center;
  padding-top: 25px;
}
.about-inner-wrap h4 {
  width: 560px;
  margin: auto;
  line-height: 28px;
  margin-bottom: 20px;
  font-size: 20px;
}
.about-inner-wrap button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background: rgb(199, 30, 43);
  box-shadow: rgb(199 198 198) 0px 4px 4px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 14px;
}
footer.footer-main-area-wrap {
  width: 100%;
  height: 50px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-inner-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #fff;
  align-items: center;
}
.footer-inner-wrap a {
  color: #fff;
  text-decoration: none;
}
.about-inner-wrap p {
  margin-bottom: 40px;
  font-size: 10px;
}
.about-inner-wrap.entry-page h2 {
  font-size: 34px;
  color: #c71e2b;
  font-weight: 700;
  margin-bottom: 10px;
}
.about-inner-wrap.entry-page h4 {
  width: 70%;
  line-height: 28px;
  font-size: 20px;
}
.input-single-form-item {
  margin-bottom: 15px;
}
.form-group-input-image {
  position: relative;
}
.form-control-image {
  display: none;
}
.form-group-input-image > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c757d;
  cursor: pointer;
}
.input-single-form-item > * > * {
  height: 40px;
  background: #ffffff;
}

.input-single-form-item > * > .form-check-input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
label.form-check-label {
  color: #535353;
}
label.form-control.compate-page {
  justify-content: unset;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
}
label.form-control.compate-page span {
  font-size: 12px;
}
.mobile-show {
  display: none;
}
small.form-text.text-muted {
  margin-bottom: 17px;
  display: block;
}
@media only screen and (max-width: 992px) {
  .about-inner-wrap.entry-page h4 {
    width: 100%;
    line-height: 28px;
    font-size: 18px;
  }
  section.banner-main-area {
    max-height: 415px;
  }
  section.banner-main-area > img {
    height: unset;
  }
}
@media only screen and (max-width: 770px) {
  .about-inner-wrap h4 {
    width: 100%;
  }
  .about-inner-wrap.entry-page h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  .footer-inner-wrap a {
    font-size: 12px;
  }
  .about-inner-wrap.entry-page h2 {
    font-size: 30px;
  }
  .about-inner-wrap.entry-page h4 {
    width: 100%;
    line-height: 22px;
    font-size: 13px;
  }
  label.form-check-label {
    color: #535353;
    font-size: 14px;
  }
  section.banner-main-area {
    max-height: 100%;
  }
}
section.banner-main-area.entry-page > img {
  width: 100%;
  height: unset;
}

section.banner-main-area.entry-page {
  background-image: unset;
  height: unset;
}
